
<!DOCTYPE html>
<!-- <html>
<head>
  
</head>
<body>


</body>
</html> -->
<!-- ######################################################################################## -->
<html>
  

  <style>
  
      html body {
        /* background-image: url({{url_for('static',filename= 'images/Boston_House1.png')}})  */
        background-color: rgb(22, 22, 168);
  
        
    }
  
    
  </style>

  <!--Form Section-->
  <br /><br />
  <h2 style="text-align: center; margin: 0px; color: black">
    <b>THIS PAGE WILL PREDICT THE PRICE OF BOSTON_HOUSE DATASET BASED ON THE INPUT DATA FOR FOLLOWING VARIABLES</b>
  </h2>
  <br />
  
  <div
    style="
      width: 350px;
      height: 50rem;
      margin: 0px auto;
      color: black;
      border-radius: 25px;
      padding: 10px 10px;
    "
  >
    <!-- <form method="POST" action="{{ url_for('/submit') }}"> -->
    <form action="/submitttt" method='post'>
      <div class="form-group">
        <label for="CRIM" style="font-size: 17px"><b>CRIM</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="CRIM"
          name="CRIM"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="ZN" style="font-size: 17px"
          ><b>ZN</b></label
        >
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="ZN"
          name="ZN"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="INDUS" style="font-size: 17px"><b>INDUS</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="INDUS"
          name="INDUS"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="CHAS" style="font-size: 17px"><b>CHAS</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="CHAS"
          name="CHAS"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="NOX" style="font-size: 17px"><b>NOX</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="NOX"
          name="NOX"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="RM" style="font-size: 17px"><b>RM</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="RM"
          name="RM"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="AGE" style="font-size: 17px"><b>AGE</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="AGE"
          name="AGE"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="DIS" style="font-size: 17px"><b>DIS</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="DIS"
          name="DIS"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="RAD" style="font-size: 17px"><b>RAD</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="RAD"
          name="RAD"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="TAX" style="font-size: 17px"><b>TAX</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="TAX"
          name="TAX"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="PTRATIO" style="font-size: 17px"><b>PTRATIO</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="PTRATIO"
          name="PTRATIO"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="B" style="font-size: 17px"><b>B</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="B"
          name="B"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="LSTAT" style="font-size: 17px"><b>LSTAT</b></label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          id="LSTAT"
          name="LSTAT"
          placeholder="Enter the value"
          style="font-weight: bold"
          required
        />
      </div>


    
  
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-info"
          style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
        >
          Predict
        </button>
      </div>
    </form>
  </div>
  
  

</html>
  